<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    {{ startDate | date: 'MMM dd yyyy' }} - 
    {{ price | number: '3.3-5' }}
</div>

<div class="demo">
    <button (click)="onAddCourse()">Add course</button>
</div>

<ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image yet</p>
    <img src="../assets/empty-image.png" alt="Course Image">
</ng-template>

<!-- <ng-container *ngTemplateOutlet="blankImage; context: { description: courses[2].description }">
</ng-container> -->

<div class="courses">

    <course-card *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"
        [course]="course"
        [courseIndex]="i"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        (selectedCourse)="onSelectedCourse($event)">
    
        <course-card-image 
            [src]="course.iconUrl" 
            [course-name]="course.description" 
            [no-image-tpl]="blankImage"
            (click)="onImageClick(course.description)"
            [ngStyle]="{'cursor': 'pointer'}"></course-card-image>
    </course-card>
</div>


